#sdg-chart path {
  cursor: pointer;
  transition: transform 0.3s, fill-opacity 0.3s;
}

#sdg-chart path:hover {
  fill-opacity: 0.7; /* Increase contrast on hover */
  transform: scale(1.1); /* Scales up from the center */
}

#sdg-chart-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
  background-color: antiquewhite;
}

#sdg-info {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 20px;
  margin: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#sdg-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sdg-image-container {
  width: 40%;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sdg-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  aspect-ratio: 1 / 1; /* Ensures the image is a square */
}

#sdg-text-container {
  width: 60%;
  text-align: left;
}

#sdg-info h2 {
  font-size: 44px;
  color: black;
  margin-bottom: 10px;
}

#sdg-info p {
  font-size: 28px;
  color: #333;
  margin: 10px 0;
}

#sdg-chart {
  width: 50%;
}

.tooltip {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
}
